@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import 'aos/dist/aos.css';
@import 'react-loading-skeleton/dist/skeleton.css';

@import "tailwindcss";

@layer base {
    body {
        @apply bg-slate-50 antialiased;
        color: #0f172a;
        font-family: 'Inter', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Poppins', sans-serif;
    }
}